@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
}
/*
* {
	border: 1px solid red;
}
*/
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* HEADER */

.section.header {
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section.header .container {
	width: 75%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.header .logo,
.header .links a {
	color: #F9FAF8;
}

.header .logo {
	font-size: 24px;
}

.header .links {
	font-size: 18px;
	display: flex;
	gap: 28px;
}

/* HEADER END */

/* HERO */

.section.hero {
	height: 400px;
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero .container {
	width: 75%;
	display: flex;
	justify-content: space-between;
}

.hero.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-start;
	justify-content: center;
}

.text.title {
	font-size: 48px;
	font-weight: bolder;
	color: #F9FAF8;
}

.text.subtext {
	color: #E5E7EB;
	font-size: 18px;
}

button.sign-up {
	padding: 8px 16px;
	background-color: #3882F6;
	color: #F9FAF8;
	border: none;
	border-radius: 8px;
}

.hero.right {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.image.placeholder {
	background-color: #646B73;
	padding: 125px 200px;
}

/* HERO END */

/* INFORMATION */

.section.information {
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.information.title {
	margin: 36px 0;
	font-size: 36px;
	font-weight: bolder;
	color: #1F2937;
}

.information .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 64px;
}

.container .info {
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.info img {
	border: 4px solid #3882F6;
	border-radius: 12px;
	width: 200px;
	height: auto;
}

.info .text.black {
	font-size: 18px;
	text-align: center;
}

/* INFORMATION END */